<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Jan Charler's Blog</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="{% static 'blog/mystyle.css' %}">

</head>
<body>

	<!-- Navbar class -->
	<nav class="navbar navbar-expand-md navbar-light nav-fixed-top mynavbar" style="background-color: #F9F9F9;">

		<!-- Brand -->
		<a class ="navbar-brand" href="{% url 'post_list' %}" >Home</a>

		<!-- Toggler button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleItems">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleItems">
			<ul class="nav navbar-nav">
				<li>
					<a class ="nav-link" href="{% url 'about' %}" >About</a>
				</li>
	
				<li class="navbar-item">
					<a class ="nav-link fab fa-linkedin-in grey-text" href="https://www.linkedin.com/in/jan-charler-6a58b3167/" >LinkedIn</a>
				</li>
				<li class="navbar-item">
					<a class ="nav-link fab fa-linkedin-in grey-text" href="https://github.com/JanCharler" >Github</a>
				</li>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">My Web Apps<b class="caret"></b></a>
			          <ol class="dropdown-menu dropdown-menu-right">
			          	<li><a class ="nav-link dropdown-content active" href="{% url 'closest_pair' %}" >Closest Pair Demo</a></li>
			          	<li><a class ="nav-link dropdown-content active" href="{% url 'connectfour' %}" >Connect Four</a></li>  
			            <li><a class ="nav-link dropdown-content active" href="{% url 'underconstruction' %}" >Coming soon...</a></li>
			          </ol>
			        </li>
			    {% if user.is_authenticated %}
				<li class="navbar-item">
					<a class ="nav-link" href="{% url 'create' %}" >Create Post</a>
				</li>
				<li class="navbar-item">
					<a class ="nav-link" href="{% url 'draft_view' %}" >Drafts</a>
				</li>
				{% endif %}

			</ul>
			<ul class="nav navbar-nav ml-auto">
				{% if user.is_authenticated %}
				<li class="navbar-item">
					<a class ="nav-link" href="{% url 'logout' %}" >Logout</a>
				</li>
				{% else %}

				<li class="navbar-item">
					<a class ="nav-link" href="{% url 'login' %}" >Login (Admin only)</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</nav>

	{% block body_block %}
	{% endblock %}


</body>
</html>
