{% extends 'blog/base.html' %}

{% load staticfiles %}

{% block body_block %}


	<link rel="stylesheet" type="text/css" href="{% static 'blog/mystyle.css' %}">

	<div class="container">
		<div class="title wrapper" align="center">
			<a class="btns restart_btn btn btn-primary" href ="{% url 'reset' %}" ><span class="glyphicon glyphicon-refresh">Refresh</span></a>
			
			<h1>Closest Pair Algorithm O(nlogn)</h1>
			<button class="btns compute_btn btn btn-success " onclick="play_algo()">Play</button>			
	</div>
	<div class="announcement">
		<p align="center"></p>
	</div>
	
	<p class="guide" align="center"> Click on the area below to add points. Closest pair will be marked. Click Play to see how the algorithm works!</p>

	<script type="text/javascript" class="boardDimensions">
		var bd = {
			'col': '{{col}}',
			'row': '{{row}}'
			}
	</script>

	<!-- Hidden CSRF token to access in JS side for our AJAX POST request -->
	<div class="hidden">{% csrf_token %}</div>

	<div class="thegrid" align="center" >
		<table class="tb shadow-lg p-3 mb-5 bg-white rounded" style="">
			{% for i in col %}
			<tr class="rows">
				{% for j in row %}
				<td class="cells hover cellsOtherDetails"><!-- <button class="cells"></button> --></td>
		 		{% endfor %}
			</tr>
			{% endfor %}
		</table>
	</div>
	<!-- 	<p><span class="result"></span></p> -->

		<!-- Announcement -->
	 <!-- <div class="announcement container" align="center">
	 	<h3></h3>
	  </div> -->


	<script type="text/javascript" src="{% static 'blog/closest_dis.js' %}"></script>
{% endblock %}