{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block body_block %}

<div class="container">
	<div class="jumbotron">
		<div class="title" align="center">
			<h1>{{post.title}}</h1>
			<hr>
			<img src="{{post.picture.url}}" alt="Post image">
			<hr>

		</div>
		<p>{{post.text}}</p>
			<p><strong>By {{post.author|title}}</strong></p>	
		<!-- <p>Date created: {{post.created_date}}</p> -->

		{% if user.is_authenticated %}
		<a href="{% url 'post_update' pk=post.pk %}"><span class="glyphicon glyphicon-plus">Update</span></a>
		<a href="{% url 'post_delete' pk=post.pk %}"><span class="glyphicon glyphicon-plus">Delete</span></a>
		{% endif %}

		{% if post.published_date %}
			<p>Date published: {{post.published_date}}</p>
			{% else %}
			<a class="btn btn-warning" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
		{% endif %}
		<a class="btn btn-primary" href="{% url 'post_add_comment' pk=post.pk %}">Add Comment</a>
	</div>
		<div class="commentslist jumbotron">
			<h2>Comments <3</h2>
			{% for comments in post.comments.all %}
				{% if comments.approved_comment or user.is_authenticated %}
				<hr>
				<p>By <strong>{{comments.author}}</strong></p>
				<p><i>{{comments.text}}</i></p>
				
				<p>Date Published: {{comments.created_date}}</p>
				{% if not comments.approved_comment %}
					<a class="btn btn-primary" href="{% url 'approve_comment' pk=comments.pk %}">Approve comment</a>
					<a class="btn btn-danger" href="{% url 'delete_comment' pk=comments.pk %}">Delete comment</a>
				{% endif %}
			{% endif %}
			<br>
		{% endfor %}
		</div>

		{% if message %}
		<p>{{message|title}}</p>
		{% endif %}
		
	
</div>
{% endblock %}